name: PGMQ Read Q Event Step Deploy Function

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      PROJECT_ID: gwhhzlngvqmuzehrdvlg

    steps:
      - uses: actions/checkout@v3
      - uses: supabase/setup-cli@v1
        with:
          version: latest
      - run: supabase functions deploy send-email-bulk --project-ref $PROJECT_ID
        working-directory: apps/edge-functions
      - run: supabase functions deploy ses-webhook --project-ref $PROJECT_ID
        working-directory: apps/edge-functions